body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* background-color: #232323; */
  background: url("img/bg-2.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

.square {
  background: purple;
  display: grid;
  border-radius: 20px;
  transition: background 0.6s;
  --webkit-transition: background 0.6s;
  -moz-transition: background 0.6s;
}

#container {
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-auto-rows: 230px;
  justify-content: center;
  grid-gap: 20px;
  padding-top: 10px;
}

h1 {
  font-weight: normal;
  color: black;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 180%;
}

#message {
  display: inline-block;
  width: 20%;
}
#stripe {
  padding: 10px 0;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 100%;
}

button {
  border: none;
  background: none;
  margin-left: 10px;
  font-weight: 700;
  padding: 5px 10px;
  transition: all 0.2s;
  --webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  outline: none;
}

button:hover {
  color: white;
  background: blue;
}
.selected {
  color: white;
  background: blue;
}

#reset {
  border: 1px solid blue;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 700;
}

#color-display {
  font-size: 150%;
}
